:root{
    --primary-color: #fccf03;
    --secondary-color: #fff;
}

h1{
    text-align: center;
    font-family: "Orbitron";
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.form{
  width: 100%;
  height: 150px;
  left: 30%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}
.form input{
  width: 100%;
  height: 160%;
  background: none;
  color: #fff;
  padding-top: 20px;
  border: none;
  outline: 0px;
}
.form .lbl-nombre{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7;
}
.form .lbl-nombre::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #2ecece;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.text-nombre{
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: #fff;
}
.form input:focus + .lbl-nombre .text-nombre,.form input:valid + .lbl-nombre .text-nombre{
  transform: translateY(-150%);
  font-size: 14px;
  color: #2ecece;
}
.form input:focus + .lbl-nombre::after, form input:valid + .lbl-nombre::after{
  transform: translateX(0%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.container .card{
  position: relative;
  width: 500px;
  height: 200px;
  margin: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(45deg,#1a2f3f,#7094ce);
}
.container .card img{
  position: absolute;
  bottom: -1px;
  left: 30%;
  transform: translateX(20%);
  height: 200px;
  transition: 0.5s;
}
.container .card:hover img{
  left: 73%;
  height: 350px;
} 
.container .card .content{
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.container .card:hover .content{
  left: 0;
  opacity: 1;
  visibility: visible;
}
.container .card .content h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 2.2em;
  line-height: 1em;
}

.container button{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #0f0;
  margin: 40px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  color:#fff;
  -webkit-box-reflect: below 0px linear-gradient(transparent,rgba(199, 28, 162, 0.133));
  transition: 0.25s;
  transition-delay: 0s;
}
.container button:hover{
  transition-delay: 0.5s;
  color: #000;
  box-shadow: 0 0 10px #0f0,
              0 0 20px #0f0,
              0 0 20px #0f0,
              0 0 40px #0f0,
              0 0 80px #0f0;
}
.container button:nth-child(2){
  filter: hue-rotate(80deg);
}
.container button::before{
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #0f0;
  box-shadow: 5px -8px 0 #0f0,
              5px 8px 0 #0f0;
  transition: width 0.25s, left 0.25s, height 0.25s, box-shadow 0.25s;
  transition-delay: 0.5s, 0.25s, 0s, 0s;
}
.container button span{
  position: relative;
  z-index: 100;
}
.container button:hover::before{
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow: 5px 0 0 #0f0,
              5px 0 0 #0f0;
  transition-delay: 0s, 0.25s, 0.5s, 0.5s;
}
.container button::after{
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #0f0;
  box-shadow: -5px -8px 0 #0f0,
              -5px 8px 0 #0f0;
  transition: width 0.25s, left 0.25s, height 0.25s, box-shadow 0.25s;
  transition-delay: 0.5s, 0.25s, 0s, 0s;
}
.container button:hover::after{
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow: -5px 0 0 #0f0,
              -5px 0 0 #0f0;
  transition-delay: 0s, 0.25s, 0.5s, 0.5s;
}
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .text{
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 45px;
  transform: scale(1.5);
  padding: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.content .text:before,
.content .text:after {
  padding: 30px;
  color: white;
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  top: 0;
}
.content .text:before{
  left: 3px;
  text-shadow: -2px 0 red;
  animation: glitch-1 2s linear infinite reverse;
}
.content .text:after{
  left: -3px;
  text-shadow: -2px 0 blue;
  animation: glitch-2 2s linear infinite reverse;
}
@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}